# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/digital_signage"

# Server
PORT=3001
NODE_ENV=development

# JWT
JWT_SECRET="change-this-to-random-32-char-string"
JWT_EXPIRES_IN="24h"

# File Upload
UPLOAD_DIR="./uploads"
MAX_FILE_SIZE_VIDEO=524288000
MAX_FILE_SIZE_IMAGE=10485760
